<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link type="text/css" href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <a style="margin: 5;" href="/">Home</a>
      <a style="margin: 5;" href="/listprod">Begin Shopping</a>
      <a style="margin: 5;" href="/listorder">List All Orders</a>
      <a style="margin: 5;" href="/customer">Customer Info</a>
      <a style="margin: 5; float: right;" href="/register">Register</a>
      <a style="margin: 5; float: right;" href="/logout">Logout</a>
      <a style="margin: 5; float: right;" href="/login">Login</a>
      <a style="margin: 5; float: right;" href="/admin">Admin Page</a>
      <a style="margin: 5; float: right;" href="/profile">My Account</a>
    </nav>
    {{{body}}}
  </body>
</html>